{% extends 'home/base.html' %}
{% block content %}
<div class="container mt-3">
    <h2>Lista de Reviews</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Auto</th>
                <th>Autor</th>
                <th>Review</th>
                <th>Rating</th>
                <th>Fecha</th>
                <th>Imagen</th>
                {% if user.is_staff %}
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td>{{ review.car }}</td>
                <td>{{ review.author }}</td>
                <td>{{ review.text }}</td>
                <td>{{ review.rating.rating }}</td>
                <td>{{ review.date }}</td>
                <td><img src="{{ review.car.image.image.url }}" style="width: 300px; height: 250px;" class="img-fluid"></td>
                <td>
                    {% if user.is_authenticated %}
                        <a href="{% url 'car_update_review' review.id %}" class="btn btn-success">Editar</a>
                    {% endif %}
                    {% if user.is_staff %}
                        <a href="{% url 'car_review_delete' review.id %}" class="btn btn-danger">Eliminar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}