{% extends 'home/base.html' %}

{% block content %}
<div class="container mt-3">
    <h2>Detalles del Auto</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ car.name }}</h5>
            <p class="card-text"><strong>Marca:</strong> {{ car.brand.name }}</p>
            <p class="card-text"><strong>Descripcion:</strong> {{ car.description }}</p>
            <p class="card-text"><strong>Precio:</strong> {{ car.price }}</p>
            <p class="card-text"><strong>Stock:</strong> {{ car.stock }}</p>
            <p class="card-text"><strong>Categoría:</strong> {{ car.category.name }}</p>
            <p class="card-text"><strong>Pais de Origen:</strong> {{ car.paisOrigen.name }}</p>
            <img src="{{ car.image.image.url }}" class="img-fluid">
            <a href="{% url 'car_list' %}" class="btn btn-secondary">Volver a la lista</a>
            <a href="{% url 'car_delete' car.id %}" class="btn btn-danger">Eliminar</a>
            <a href="{% url 'car_update' car.id %}" class="btn btn-primary">Editar</a>
            <a href="#" class="btn btn-primary">Valorar</a>
        </div>
    </div>
</div>
{% endblock %}