{% extends 'home/base.html' %}

{% block content %}
<div class="container mt-3">
    <h2>Nombre de Usuario: {{ user }}</h2>
    <div class="card">
        <div class="card-body">
            <p class="card-text"><strong>Nombre:</strong> {{ user.first_name }}</p>
            <p class="card-text"><strong>Apellido:</strong> {{ user.last_name }}</p>
            <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
            <a href="{% url 'profile_update' user.id %}" class="btn btn-primary">Editar</a>
        </div>
    </div>
</div>
{% endblock %}